#pass-gen-form > div {
    display: block;
    margin: auto;
    width: 75%;
    margin-bottom: 10px;
}

#pwd-textbox {
    margin: auto;
    width: 100%;
    height: 40px;
    border: 1px solid #000;
}

.btn {
    margin: auto;
    width: 275px;
    height: 60px;
    line-height: 60px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    background: #0094ff;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
    display: block;
    background: #fafafa;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px 10px 10px 10px;
    width: 15%;
    line-height: 35px;
    text-align: center;
}
